@use '/src/styles/mixins/cursor';

.favoriteTitle {
  padding: 5px;
  font-size: 30px;
  font-weight: 600;
}

.favoriteContainer {
  height: 500px;
  padding: 0 5px;
  margin-top: 10px;
  overflow: auto;

  li {
    + li {
      margin-top: 10px;
    }

    .favoriteMovie {
      @include cursor.grab;

      &.dragging {
        @include cursor.grabbing;
      }
    }
  }
}
