@use '/src/styles/constants/colors';

.movieList {
  height: 500px;
  padding: 0 5px;
  overflow: auto;

  li {
    + li {
      margin-top: 10px;
    }
  }
}

.svgLoader {
  position: relative;
  display: flex;
  align-content: space-around;
  justify-content: center;
  padding: 10px;

  &.hide {
    display: none;
  }
}
