@use '/src/styles/constants/colors';

.movieList {
  height: 500px;
  padding: 0 5px;
  overflow-y: scroll;
  list-style: none;

  li {
    + li {
      margin-top: 10px;
    }
  }
}

.svgLoader {
  position: relative;
  display: flex;
  align-content: space-around;
  justify-content: center;
  height: 30px;
  margin-top: 10px;

  &.hide {
    display: none;
  }
}
