@use '/src/styles/constants/colors';

.tab {
  bottom: 0;
  display: flex;
  width: 100%;
  height: 10%;
  background-color: colors.$BLACK;
  border-radius: 0 0 20px 20px;

  .tabBtn {
    flex-grow: 1;
    align-items: ceter;
    justify-content: center;
    width: 100%;
    line-height: 100%;
    background-color: colors.$GRAYE;

    &.right {
      border-radius: 0 0 21px;
    }

    &.left {
      border-radius: 0 0 0 21px;
    }

    &.selected {
      background-color: colors.$WHITE;
    }
  }
}
