@use '/src/styles/constants/colors';

.search {
  input {
    height: 30px;
    padding: 2px;
    border: 1px solid colors.$BLACK;
  }

  .movieList {
    overflow: hidden;
    background-color: colors.$WHITE;

    .favorite {
      background-color: colors.$RED;
    }
  }
}
