.noResultContainer {
  height: 500px;
  padding: 100px 20px;

  .noResultTitle {
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
  }

  .plusIcon {
    transform: rotate(45deg);
  }
}
